.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px){
        padding-top: 65px;
    }
}

.footer-container{
    @media screen and (min-width: 1200px) {
            display: flex;
        }
}

.footer__box {
    display: inline-block;
    width: 100%;
    text-align: center;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;

    }
    @media screen and (min-width: 1200px) {
        display: flex;
        text-align: left;
        justify-content: start;
    }
}

.footer__connect {
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
        margin-right: 70px;
        margin-bottom: 0;
    }
}

.logo_grey {
    color: var(--header-text-color);
}

.footer-connect__list {
    margin-top: 20px;
}

.footer-connect__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    
}

.footer-connect__contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    &:first-child {
        margin-top: 9px;
    }
}

.footer__title{
    margin-bottom: 20px;
    color: var(--contrast-txt-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color);
}

.join .list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-social{
    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }  
}

.join-social__item:not(:last-child) {
    margin-right: 10px;
}
.join-social__item{
    align-items: center;
}

.join-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: color 250ms, background-color 250ms, box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.join-social__icon {
    fill: #ffffff
}

.footer__subscribe{
    text-align: center; 
    @media screen and (min-width: 1200px) {
        text-align: start;
    } 
}

.subscribe__form {
    justify-content: center;
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: left;
    }
}

.subscribe__email {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color:  inherit;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    @media screen and (min-width: 768px) {
        width: 450px;
        margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin: 0;
    }
}

.subscribe__btn {
    margin: 20px auto 0;
    @media screen and (min-width: 1200px) {
        margin: 0 0 0 12px;
    }
}

.subscribe__icon {
    margin-left: 10px;
}