:root{
    --main-title-color:#212121;
    --main-text-color:#757575;
    --header-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --address-text-color: rgba(255, 255, 255, 0.6);
    --port-btn-bgcolor: #F5F4FA;

}